<div class="container">
  <div class="content">
    <div
      [@bounce]="bounce"
      [@flash]="flash"
      [@pulse]="pulse"
      [@rubberBand]="rubberBand"
      [@shake]="shake"
      [@swing]="swing"
      [@tada]="tada"
      [@wobble]="wobble"
      [@jello]="jello"

      [@fadeOut]="fadeOut"
      [@fadeIn]="{ value: fadeIn, params: { from: 0, to: 1, timing: 2 } }"
      class="box"
    ></div>

    <div class="animations">
      <p>
          <button
            *ngFor="let animation of attentionSeekers"
            (click)="animate(animation)"
            class="btn"
            type="button"
          >{{ animation }}</button>
      </p>

      <p>
        <button (click)="animate('fadeOut')" class="btn" type="button">fadeOut</button>
        <button (click)="animate('fadeIn')" class="btn" type="button">fadeIn</button>
      </p>
    </div>
  </div>
</div>
