small {
  font-size: 0.875rem;
  font-weight: normal;
}

.btn {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  color: #666;
  cursor: pointer;
  font-size: inherit;
  margin-top: .5rem;
  padding: .5rem 1rem;
}

.btn:not(:last-child) {
  margin-right: .5rem;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.content {
  max-width: 60rem;
  text-align: center;
}

.box {
  background-color: #fff;
  border-radius: 3px;
  height: 48px;
  width: 48px;
  margin: 0 auto;
  margin-top: 5rem;
}

.animations {
  margin-top: 3rem;
}
