<div class="container">
  <div class="content">
    <h1>ng-animate</h1>

    <div class="animations">
      <div
        [@bounce]="bounce"
        [@flash]="flash"
        [@pulse]="pulse"
        [@rubberBand]="rubberBand"
        [@shake]="shake"
        [@swing]="swing"
        [@tada]="tada"
        [@wobble]="wobble"
        [@jello]="jello"

        class="box"
      ></div>

      <h2>Attention Seekers</h2>
      <p>
        <button
          *ngFor="let animation of attentionSeekers"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>

      <div
        [@bounceIn]="bounceIn"
        [@bounceInDown]="bounceInDown"
        [@bounceInLeft]="bounceInLeft"
        [@bounceInRight]="bounceInRight"
        [@bounceInUp]="bounceInUp"

        class="box"
      ></div>
      <h2>Bounce Entrances</h2>
      <p>
        <button
          *ngFor="let animation of bounceEntrances"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>

      <div
        [@bounceOut]="bounceOut"
        [@bounceOutDown]="bounceOutDown"
        [@bounceOutLeft]="bounceOutLeft"
        [@bounceOutRight]="bounceOutRight"
        [@bounceOutUp]="bounceOutUp"

        class="box"
      ></div>
      <h2>Bounce Exits</h2>
      <p>
        <button
          *ngFor="let animation of bounceExits"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>

      <div
        [@fadeIn]="fadeIn"
        [@fadeInDown]="fadeInDown"
        [@fadeInLeft]="fadeInLeft"
        [@fadeOut]="fadeOut"
        [@fadeOutUp]="fadeOutUp"
        [@fadeOutRight]="fadeOutRight"

        class="box"
      ></div>
      <h2>Fading</h2>
      <p>
        <button
          *ngFor="let animation of fading"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>

      <div
        [@slideInDown]="slideInDown"
        [@slideInLeft]="slideInLeft"
        [@slideOutUp]="slideOutUp"
        [@slideOutRight]="slideOutRight"

        class="box"
      ></div>
      <h2>Sliding <small>(equals to fading w/o changing opacity)</small></h2>
      <p>
        <button
          *ngFor="let animation of sliding"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>

      <div
        [@flip]="flip"
        [@flipInX]="flipInX"
        [@flipInY]="flipInY"
        [@flipOutX]="flipOutX"
        [@flipOutY]="flipOutY"

        class="box"
      ></div>
      <h2>Flippers</h2>
      <p>
        <button
          *ngFor="let animation of flippers"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>

      <div
        [@lightSpeedIn]="lightSpeedIn"
        [@lightSpeedOut]="lightSpeedOut"

        class="box"
      ></div>
      <h2>LightSpeed</h2>
      <p>
        <button
          *ngFor="let animation of lightSpeed"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>

      <div
        [@rotateIn]="rotateIn"
        [@rotateInDownLeft]="rotateInDownLeft"
        [@rotateInDownRight]="rotateInDownRight"
        [@rotateInUpLeft]="rotateInUpLeft"
        [@rotateInUpRight]="rotateInUpRight"
        [@rotateOut]="rotateOut"
        [@rotateOutDownLeft]="rotateOutDownLeft"

        class="box"
      ></div>
      <h2>Rotate</h2>
      <p>
        <button
          *ngFor="let animation of rotate"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>

      <div
        [@hinge]="hinge"
        [@jackInTheBox]="jackInTheBox"
        [@rollIn]="rollIn"
        [@rollOut]="rollOut"

        class="box"
      ></div>
      <h2>Rotate</h2>
      <p>
        <button
          *ngFor="let animation of specials"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>

      <div
        [@zoomIn]="zoomIn"
        [@zoomInLeft]="zoomInLeft"
        [@zoomInDown]="zoomInDown"
        [@zoomOut]="zoomOut"
        [@zoomOutUp]="zoomOutUp"
        [@zoomOutRight]="zoomOutRight"

        class="box"
      ></div>
      <h2>Zooming</h2>
      <p>
        <button
          *ngFor="let animation of zooming"
          (click)="animate(animation)"
          class="btn"
          type="button"
        >{{ animation }}</button>
      </p>
    </div>
  </div>
</div>
