<div class="container">
  <div class="content">
    <h1 [@tada]="true">ng-animate</h1>

    <div class="animations">
      <h2>Available Animations</h2>
      <app-example-box label="Attention Seekers" [animations]="attentionSeekersAnimations"></app-example-box>
      <app-example-box label="Back entrances" [animations]="backEntrances"></app-example-box>
      <app-example-box label="Back exits" [animations]="backExits"></app-example-box>
      <app-example-box label="Bouncing entrances" [animations]="bouncingEntrances"></app-example-box>
      <app-example-box label="Bouncing exits" [animations]="bouncingExits"></app-example-box>
      <app-example-box label="Fading entrances" [animations]="fadingEntrances"></app-example-box>
      <app-example-box label="Fading exits" [animations]="fadingExits"></app-example-box>
      <app-example-box label="Flippers" [animations]="flippers"></app-example-box>
      <app-example-box label="Lightspeed" [animations]="lightspeed"></app-example-box>
      <app-example-box label="Rotating entrances" [animations]="rotatingEntrances"></app-example-box>
      <app-example-box label="Rotating exits" [animations]="rotatingExits"></app-example-box>

      <app-example-box label="Specials" [animations]="specials"></app-example-box>
      <app-example-box label="Zooming entrances" [animations]="zoomingEntrances"></app-example-box>
      <app-example-box label="Zooming exits" [animations]="zoomingExits"></app-example-box>

      <app-example-box label="Sliding entrances" [animations]="slidingEntrances"></app-example-box>
      <app-example-box label="Sliding exits" [animations]="slidingExits"></app-example-box>
    </div>
    <div class="animations">
      <h2>Advanced Usage</h2>
      <p>You can use parameters to modify the animations:</p>

      <app-example-box label="Timing" [animations]="slidingExits" [params]="{ timing: animationTiming }">
      </app-example-box>
      <label>
        Timing (in seconds): <input min="0" max="100" type="number" [(ngModel)]="animationTiming">
      </label>

      <app-example-box label="Multiple Params" [animations]="rotateInParams"
        [params]="{
        timing: animationTiming, fromOpacity: fromOpacity, toOpacity: toOpacity, degrees: degrees + 'deg', origin: originX + ' ' + originY }">
      </app-example-box>
      <label>
        Timing: <input min="0" max="100" type="number" [(ngModel)]="animationTiming">
      </label>
      <br>
      <label>
        Degrees: <input min="-360" max="360" type="number" [(ngModel)]="degrees">
      </label>
      <br>
      <label>
        Origin:
        <select [(ngModel)]="originX">
          <option>top</option>
          <option>center</option>
          <option>bottom</option>
        </select>
        <select [(ngModel)]="originY">
          <option>left</option>
          <option>center</option>
          <option>right</option>
        </select>
      </label>
      <br>
      <label>
        Opacity from:
        <input min="0" max="1" step="0.1" type="number" [(ngModel)]="fromOpacity">
        to:
        <input min="0" max="1" step="0.1" type="number" [(ngModel)]="toOpacity">
      </label>
    </div>
  </div>
</div>
