small {
  font-size: 0.875rem;
  font-weight: normal;
}

.btn {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  color: #666;
  cursor: pointer;
  font-size: inherit;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

.btn:not(:last-child) {
  margin-right: 0.5rem;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.content {
  max-width: 60rem;
  text-align: center;
}

.animations {
  margin-top: 3rem;
}

input[type="number"] {
  background-color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 2px;
  margin: 0.5rem 0.1rem;
}

select {
  background-color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 2px;
  margin: 0.5rem 0.1rem;
}
